/* Fondo negro */
body {
    margin: 0;
    overflow: hidden;
    background: black;
}

/* Canvas de fuegos artificiales */
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* Mensaje */
#mensaje {
    position: fixed;
    top: 10%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
    z-index: 3;
}

/* Dinosaurio centrado y girando */
#dino {
    position: fixed;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


